USE [master]
GO
/****** Object:  Database [ConstructionWebDb]    Script Date: 10.05.2023 13:38:52 ******/
CREATE DATABASE [ConstructionWebDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConstructionWebDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ConstructionWebDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConstructionWebDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ConstructionWebDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConstructionWebDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConstructionWebDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.05.2023 13:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeArticles]    Script Date: 10.05.2023 13:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeArticles](
	[Id] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ShortDescription] [nvarchar](400) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_HomeArticles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobOffers]    Script Date: 10.05.2023 13:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOffers](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Salary] [int] NULL,
	[Location] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobOffers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 10.05.2023 13:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[BuildingName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230121182153_addItemsToDb', N'7.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230122103643_refactoringItemsToProject', N'7.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230124173352_addJobOffer', N'7.0.2')
GO
INSERT [dbo].[JobOffers] ([Id], [Name], [Type], [Salary], [Location], [Description]) VALUES (N'752ffc09-7afc-40aa-94a8-1c1708bb2fa5', N'Contract Manager', 2, 2500, N'Warszawa', N'Responsibilities: Carrying out the entrusted works in accordance with the construction art. Direct supervision over the execution of works based on the requirements of the contract. Technical documentation, schedules and work organization plans. Ongoing cooperation with subcontractors and suppliers.  Requirements: very good organization of work under time pressure. Ability to manage multiple teams. Driving license.')
INSERT [dbo].[JobOffers] ([Id], [Name], [Type], [Salary], [Location], [Description]) VALUES (N'8cb3c17a-e42c-487e-af69-723d22ac3c7f', N'Construction engineer', 1, 1600, N'Bydgoszcz - Osielsko', N'Responsibilities: technical supervision over the ongoing construction, keeping construction documentation, supervision of subcontractors and material suppliers, reporting on the implementation of works, analysis of technical and design documentation and driving license.')
INSERT [dbo].[JobOffers] ([Id], [Name], [Type], [Salary], [Location], [Description]) VALUES (N'c17db36a-e44c-463a-8329-0c8f3352641e', N'Bricklayer', 0, 1150, N'Bydgoszcz', N'We require 1 year experience. Performing entrusted masonry works and implementing of entrusted tiling works.')
GO
USE [master]
GO
