html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 450px;
    width: 1000px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 450px;
    width: 1000px;
}

.join-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 15px;
    row-gap: 15px;
}

.join-item {
    padding: 20px;
    display: grid;
    grid-auto-columns: minmax(auto);
}

.join-us-padding{
    margin: 20px;
}

.footer-grid {
    display: flex;
    align-items: center;
}



