@model ConstructionPrototype.Data.Entities.HomeArticle

@{
    ViewData["Title"] = "New Home article.";
}


<form method="post" asp-action="CreateArticle">
    <div class="center">
        <h3>Create new Home Page article.</h3>
    </div>

    <div class="input-group mb-3">
        <label  class="input-group-text width-chip" 
                id="basic-addon1">
                Article Name
        </label>

        <input  class="form-control" 
                asp-for="Title" 
                type="text"/>

    </div>

    <div class="input-group mb-3 description-chip">
        <label class="input-group-text width-chip">In short</label>
        <textarea   class="form-control" 
                    aria-label="With textarea"
                    type="text"
                    asp-for="ShortDescription">
        </textarea>
    </div>

    <div class="input-group mb-3 description-chip">
        <label class="input-group-text width-chip">Description</label>
        <textarea   class="form-control" 
                    aria-label="With textarea" 
                    asp-for="Description" 
                    type="text">
        </textarea>
        
    </div>

    @*
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
    <input type="submit">
    *@
    <div class="input-group mb-3 description-chip">
        <label class="input-group-text width-chip">Image</label>
        <input type="file"
               name="img"
               accept="image/png, image/jpeg">
    </div>


    <div class="form-group row">
        <div class="create1 col-10 offset-2 row center">

            <div class="col">
                <input  class="btn btn-info w-75" 
                        type="submit" 
                        value="Create"/>
            </div>

            <div class="col">
                <a  class="btn btn-danger" 
                    asp-controller="Service" 
                    asp-action="LogIn">
                    Go Back
                </a>
            </div>

        </div>
    </div>
</form>
