
@{
    ViewData["Title"] = "JoinUs";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Recruiting info. Grid</p>
    <p>send email for recruitment@mail.com</p>

</div>


<div class="join-grid">
    <div class="list-group-item-dark join-item">
        <h2>Murarz / płytkarz</h2>
        <h5>Pełen etat</h5>

        <p>Zakres obowiązków</p>
        <ul>
            <li>Wykonywanie powierzonych prac murarskich</li>
            <li>Wykonywanie powierzonych prac glazurniczych</li>
        </ul>
            
        <p>Wymagania</p>
        <ul>
            <li>Pracowitość oraz zaangażowanie</li>
            <li>Doświadczenie w zawodzie</li>
        </ul>

        <p>Oferujemy</p>
        <ul>
            <li>Prace w młodym zespole w prężnie rozwijającej się prestiżowej firmie</li>
            <li>Wysoki standard pracy</li>
            <li>Wysokie zarobki oraz atrakcyjne premie uznaniowe adekwatne do nakładu pracy i zaangażowania.</li>
        </ul>
    </div>

    <div class="list-group-item-dark join-item">
        One of three columns
    </div>

    <div class="list-group-item-dark join-item">
        One of three columns
    </div>

    <div class="list-group-item-dark join-item">
        One of three columns
    </div>

    <div class="list-group-item-dark join-item">
        One of three columns
    </div>

    <div class="list-group-item-dark join-item">
        One of three columns
    </div>

    <div class="list-group-item-dark join-item">
        One of three columns
    </div>

</div>



