@{
    ViewData["Title"] = "Log in";
}


@*
@if (userLogedIn = true)
{
    <div class="center">
        <h3> You are logged in.</h3>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" type="button" asp-controller="Service" asp-action="CreateJoinUs">Create job offer</a>

    <a class="btn btn-primary" type="button" asp-controller="Service" asp-action="LogIn">Write home page article</a>

    <a class="btn btn-primary" type="button" asp-controller="Service" asp-action="LogIn" >Add service</a>
    </div>
}

else
{
    <div class="center">
        <h3> You are not logged in.</h3>
    </div>

    <div class="form-floating mb-3 center-next">
        <input type="email" class="form-control" id="floatingInput" placeholder="login here">
        <label for="floatingInput">Login</label>
    </div>

    <div class="form-floating center-next">
        <input type="password" class="form-control" id="floatingPassword" placeholder="password here">
        <label for="floatingPassword">Password</label>
    </div>
}
*@

<div class="center">
    <h3> You are logged in.</h3>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary btn-lg" type="button" asp-controller="Service" asp-action="CreateJoinUs">Create job offer</a>

    <a class="btn btn-secondary btn-lg" type="button" asp-controller="Service" asp-action="CreateHomeArticle">Write home page article</a>

    <a class="btn btn-secondary btn-lg" type="button" asp-controller="Service" asp-action="LogIn" disabled>Add service</a>
</div>


<div class="center">
    <h3> You are not logged in.</h3>
</div>

<div class="form-floating mb-3 center-next">
    <input type="email" class="form-control" id="floatingInput" placeholder="login here">
    <label for="floatingInput">Login</label>
</div>

<div class="form-floating center-next">
    <input type="password" class="form-control" id="floatingPassword" placeholder="password here">
    <label for="floatingPassword">Password</label>
</div>