<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Construction WWW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConstructionPrototype.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav ms-auto home-tab">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Service" asp-action="Index">Services</a>
                    </li>
                </ul>
            </div>


            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto home-tab" asp-controller="Home" asp-action="Index">
                    <h1>LOGO</h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>


            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav me-auto home-tab">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Service" asp-action="JoinUs">Join us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Service" asp-action="Contacts">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container footer-grid">
        
             <div>Phone: +48 123 456 789</div>
             <div>Email: office@mail.com</div>
             <div><a asp-area="" asp-controller="Services" asp-action="Contacts">More info</a></div>
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
