
@{
    ViewData["Title"] = "About us";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
       Shatnadard brief history of company.

       Pictures with description of constructions company is most proud of.
    </p>
</div>

<div    id="carouselExampleControls" 
        class="carousel slide" 
        data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">

            <img    src="/lib/img/1.png" 
                    class="d-block w-100 carousel-img" 
                    alt="alt-1">
    </div>
    <div class="carousel-item">

            <img    src="/lib/img/4.jpg" 
                    class="d-block w-100 carousel-img" 
                    alt="alt-2">
    </div>
    <div class="carousel-item">

            <img    src="/lib/img/3.jpg" 
                    class="d-block w-100 carousel-img" 
                    alt="alt-3">
    </div>
  </div>


  <button   class="carousel-control-prev carousel-color" 
            type="button" 
            data-bs-target="#carouselExampleControls" 
            data-bs-slide="prev">

        <img src="/lib/img/arrowLeft.png" 
             class="carousel-arrow"/>
  </button>

  <button   class="carousel-control-next carousel-color" 
            type="button" 
            data-bs-target="#carouselExampleControls" d
            ata-bs-slide="next">

        <img    src="/lib/img/arrowRight.png" 
                class="carousel-arrow"/>
  </button>

</div>


