
@{
    ViewData["Title"] = "AboutUs";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
       Shatnadard brief history of company.

       Pictures with description of constructions company is most proud of.
    </p>
</div>


